.header {
  background: rgb(255, 40, 79);
  background: linear-gradient(160deg, rgba(255, 40, 79, 1) 0%, rgba(21, 71, 201, 1) 100%);
  padding: 1.5rem;
}

.imageContainer {
  position: relative;
  z-index: 1;
}

.title {
  margin: 0;
}

.author {
  font-size: 1rem;
}

.image {
  display: block;
  margin: 0 auto 1rem auto;
  max-height: 300px;
  max-width: 100%;
}

.version {
  color: #999;
  font-size: 0.75rem;
}

.metadataList {
  font-size: 0.9rem;
}

.metadataList a {
  border-bottom: none;
}

.metadata {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
}

.metadataFooter {
  margin-top: 1.5rem;
}

.tags {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon {
  margin-right: 0.5rem;
  width: 20px;
}

.tag {
  margin-right: 0.25rem;
}

.options {
  margin: 0 auto;
  max-width: 1024px;
  padding: 2rem 1.5rem;
}

@media (min-width: 48rem) {
  .header {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .headerInner {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
  }

  .headerInner2 {
    margin: 0 auto;
    max-width: 1024px;
  }

  .image {
    margin: 0 auto 0 auto;
  }

  .media {
    flex-basis: 33.33%;
  }

  .details {
    flex-basis: 66.66%;
    margin-left: 3rem;
  }

  .row {
    display: flex;
  }

  .cell {
    margin-right: 1rem;
  }
}
