.download {
  margin-bottom: 1.5rem;
}

.downloadButton {
  margin-right: 0.5rem;
}

.downloadButton .progress {
  display: none;
}

.downloadButton:disabled .progress {
  display: inline;
}

.downloadButtonIcon {
  margin-left: 0.5rem;
  vertical-align: middle;
  width: 14px;
}

@media (min-width: 48rem) {
  .download {
    margin-right: 2rem;
  }
}
