.list {
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  width: 100%;
}

@media (min-width: 48rem) {
  .listGrid {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 64rem) {
  .listGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 120rem) {
  .listGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 160rem) {
  .listGrid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
