.multiselect {
  margin-bottom: 1rem;
  position: relative;
}

.multiselect[id='type'] {
  min-width: 11rem;
}

.multiselect[id='category'] {
  min-width: 12rem;
}

.multiselect[id='license'] {
  min-width: 18rem;
}

.multiselectTitle {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #111;
  background-image: url(../../public/images/icon-arrow-down.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 3rem;
  width: 100%;
}

.icon-category {
  background-image: url(../../public/images/icon-category.svg), url(../../public/images/icon-arrow-down.svg);
  background-position:
    left 1rem center,
    right 1rem center;
}

.icon-license {
  background-image: url(../../public/images/icon-license.svg), url(../../public/images/icon-arrow-down.svg);
  background-position:
    left 1rem center,
    right 1rem center;
}

.icon-cost {
  background-image: url(../../public/images/icon-cost.svg), url(../../public/images/icon-arrow-down.svg);
  background-position:
    left 1rem center,
    right 1rem center;
}

.icon-compatibility {
  background-image: url(../../public/images/icon-compatibility.svg), url(../../public/images/icon-arrow-down.svg);
  background-position:
    left 1rem center,
    right 1rem center;
}

.icon-platform,
.icon-system {
  background-image: url(../../public/images/icon-platform.svg), url(../../public/images/icon-arrow-down.svg);
  background-position:
    left 1rem center,
    right 1rem center;
}

.icon-type {
  background-image: url(../../public/images/icon-type.svg), url(../../public/images/icon-arrow-down.svg);
  background-position:
    left 1rem center,
    right 1rem center;
}

.multiselectCheckboxes {
  background-color: #111;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.1);
  display: none;
  max-height: 70vh;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.multiselectCheckbox {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 0.75rem 1rem;
}

.multiselectCheckbox .multiselectInput,
.multiselectCheckbox .multiselectLabel {
  cursor: pointer;
}

.multiselectCheckbox:hover {
  background-color: #222;
}

.multiselectInput {
  border: none;
  margin: 0 0.9rem 0.2rem 0.25rem;
  transform: scale(1.25);
  vertical-align: middle;
}

@media (min-width: 48rem) {
  .multiselect {
    display: inline-block;
    margin-right: 1rem;
  }
  .multiselectTitle,
  .multiselectLabel {
    font-size: 1.15rem;
  }
}
