.navItem {
  border-bottom: 3px solid transparent;
  color: #fff;
  display: block;
  padding: 1.5rem;
  text-decoration: none;
  transition: border 0.25s ease-out;
}

.navItem:hover,
.navItemActive {
  border-bottom: 3px solid #fff;
}

.navButton {
  margin: 0.5rem;
  padding: 1rem;
}

.navButtonIcon {
  height: 15px;
  margin-left: 0.5rem;
  width: 15px;
}

.navMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.navMenu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.navMenuIcn {
  cursor: pointer;
  float: right;
  padding: 2.1rem 1.5rem;
  position: relative;
  user-select: none;
}

.navMenuIcn .navMenuNavIcn {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navMenuIcn .navMenuNavIcn:before,
.navMenuIcn .navMenuNavIcn:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navMenuIcn .navMenuNavIcn:before {
  top: 5px;
}

.navMenuIcn .navMenuNavIcn:after {
  top: -5px;
}

.navMenuBtn {
  display: none;
}

.navMenuBtn:checked ~ .navMenu {
  max-height: 280px;
}

.navMenuBtn:checked ~ .navMenuIcn .navMenuNavIcn {
  background: transparent;
}

.navMenuBtn:checked ~ .navMenuIcn .navMenuNavIcn:before {
  transform: rotate(-45deg);
}

.navMenuBtn:checked ~ .navMenuIcn .navMenuNavIcn:after {
  transform: rotate(45deg);
}

.navMenuBtn:checked ~ .navMenuIcn:not(.steps) .navMenuNavIcn:before,
.navMenuBtn:checked ~ .navMenuIcn:not(.steps) .navMenuNavIcn:after {
  top: 0;
}

@media (min-width: 48rem) {
  .navItem {
    margin-right: 0.5rem;
  }
  .navMenu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navMenu li {
    float: left;
  }
  .navMenuIcn {
    display: none;
  }
}
