.subnav {
  padding: 1.5rem;
}

.sidebar {
  border-bottom: 1px solid #333;
  margin: 0 0 2rem 0;
  min-width: 200px;
  padding-bottom: 1rem;
}

.sidebar h4 {
  margin: 0 0 .5rem;
}

.sidebar ul {
  margin: 0 0 1rem;
  padding: 0 0 0 1.25rem;
}

.sidebar a {
  border-bottom: 2px solid transparent;
  margin: .5rem;
}

.sidebar a:hover {
  border-bottom: 2px solid #fff;
}

@media (min-width: 48rem) {
  .subnav {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
  }

  .sidebar {
    border: 0;
    margin-right: 6rem;
  }
}
