.section {
  background-position: center;
  background-size: cover;
  padding: 1.5rem;
  scroll-snap-align: start;
}

.sectionImage {
  margin-bottom: 1rem;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.inner {
  max-width: 360px;
}

.sectionProducers .inner {
  margin: 0 0 0 auto;
}

@media (min-width: 48rem) {
  .section {
    padding-bottom: 15rem;
    padding-top: 15rem;
  }

  .sectionOpenSource {
    background-image: url(../public/images/studio-audio-rack.jpg);
  }

  .sectionCreators {
    background-image: url(../public/images/creators.jpg);
  }

  .sectionProducers {
    background-image: url(../public/images/producers.jpg);
  }

  .sectionImage {
    display: none;
  }

  .sectionProducers .inner {
    margin: 0 0 0 auto;
  }
  
}
