.plugins {
  padding: 2rem 1.5rem;
}

.pluginsTitle {
  margin-bottom: .5rem;
}

.pluginsHeader li {
  display: inline-block;
}

.pluginsHeader a {
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  margin-right: .5rem;
  padding: .5rem .75rem;
  transition: background-color .25s ease-out;
}

.pluginsHeader a:hover {
  background-color: #222;
}

.pluginsHeader :global(.selected) {
  background-color: #fff;
  color: #000;
}

.pluginsHeader :global(.selected):hover {
  background-color: #fff;
}

.pluginsCategory {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
}

.pluginsSearch {
  background-color: #111;
  border-radius: .25rem;
  border: 0;
  color: #999;
  font-size: 16px;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
}

.plugin {
  background-color: #111;
  border-radius: .5rem;
  cursor: pointer;
  height: 200px;
  overflow: hidden;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 1rem;
  transition: background-color .25s ease-out;
}

.plugin:hover {
  background-color: #222;
}

.pluginDetails {
  margin-bottom: 1rem;
}

.pluginHead {
  display: flex;
  justify-content: space-between;
}

.pluginTitle {
  flex-shrink: 1;
  margin: 0;
}

.pluginButton,
.pluginButtonInstalled {
  background-color: #0d51ff;
  border-radius: 100%;
  display: flex;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.pluginButtonInstalled {
  background-color: #48ad6a;
}

.pluginVersion {
  color: #666;
  font-size: .75rem;
}

.pluginTags {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pluginIcon {
  margin-right: .5rem;
  width: 15px;
}

.pluginTag {
  margin-right: .25rem;
}

.pluginImage {
  display: cover;
  max-width: 100%;
}

@media (min-width: 48rem) {
  .pluginsHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .pluginsList {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
